:root {
  --light-blue: rgb(233, 255, 254);
  --blue: rgb(0, 221, 255);
  --grey: rgb(104, 104, 104);
  --light-grey: rgb(191, 191, 191);
  --lighter-grey: rgb(235, 235, 235);
  --dark-grey: rgb(32, 32, 32);
}
body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main-title {
  color: rgb(32, 32, 32);
  font-size: 35pt;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--blue);
  width: fit-content;
  position: relative;
  margin: auto;
  margin-top: 20px;
}
#main {
  background-color: var(--light-blue);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#popup-wrapper {
  position: absolute;
  --top-dist: 70%;
  transform: translate(-50%, calc(var(--top-dist) * -1));
  top: var(--top-dist);
  left: 50%;
  width: 100%;
  height: fit-content;
  z-index: 5;
}
#main-wrapper {
  position: relative;
  margin: auto;
  width: 100%;
  height: 500px;
}
#todo-controls {
  --top-dist: 0%;
  display: flex;
  width: 75%;
  height: 100px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  transform: translate(-50%, calc(var(--top-dist) * -1));
  left: 50%;
  top: var(--top-dist);
}
#empty-todo-holder {
  width: fit-content;
  --top-dist: 50%;
  box-sizing: border-box;
  position: absolute;
  transform: translate(-50%, calc(var(--top-dist) * -1));
  left: 50%;
  top: var(--top-dist);
}
#todo-holder {
  --top-dist: 50%;
  width: fit-content;
  max-width: 1300px;
  overflow-x: auto;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: row;
  margin: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: absolute;
  transform: translate(-50%, calc(var(--top-dist) * -1));
  left: 50%;
  top: var(--top-dist);
}
#todo-holder::-webkit-scrollbar {
  display: none;
}
#empty-message {
  color: white;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--grey);
  font-size: 20pt;
  border-radius: 10px;
  position: relative;
  margin: auto;
}
.first-todo {
  padding: 20px;
  padding-right: 10px;
}
.middle-todo {
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.last-todo {
  padding: 20px;
  padding-left: 10px;
}
.only-todo {
  padding: 20px;
}
.todo-wrapper {
  box-sizing: border-box;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todo-div {
  flex: none;
  width: 300px;
  height: 200px;
  background-color: var(--grey);
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
}
.todo-button {
  flex: none;
  width: 150px;
  height: fit-content;
  border-radius: 10px;
  border: solid black 2px;
  padding: 5px;
  background-color: var(--blue);
  color: black;
  font-size: 15pt;
}
.create-todo-div {
  position: relative;
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: solid black 5px;
}
.create-todo-element {
  text-align: center;
  background-color: var(--lighter-grey);
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  border: solid black 2px;
  flex: none;
  color: black;
}
#date-time {
  color: black;
  width: 90%;
}
.todo-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
}
#status-header {
  padding: 20px;
  padding-top: 5px;
  font-size: 20pt;
  margin: auto;
}
label {
  margin-left: -20px;
  font-size: 10pt;
}
#status-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.status-element{
  flex: none;
}
.todo-description-div {
  color: black;
  font-size: 12pt;
  width: 90%;
  height: 47px;
  background-color: var(--light-grey);
  box-sizing: border-box;
  position: relative;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
.todo-description {
  line-height: 20px;
}
#description {
  resize: none;
  width: 90%;
  height: 75px;
}
#time-div {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 90%;
  height: fit-content;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 10px;
}
.time-h1 {
  flex: none;
  font-size: 25pt;
}
@media screen and (max-width: 1500px) {
  .time-h1{
    font-size: 15pt;
  }
  #empty-message {
    font-size: 15pt;
  }
  #status-header {
    font-size: 15pt;
  }
  #todo-controls {
    --top-dist: -5%;
  }
}
@media screen and (max-width: 1400px) {
  #todo-holder {
    max-width: 980px;
  }
}
@media screen and (max-width: 1100px) {
  #popup-wrapper {
    --top-dist: 55%;
  }
  #todo-holder {
    max-width: 660px;
  }
  #todo-controls {
    --top-dist: 105%;
  }
}
@media screen and (max-width: 755px) {
  #todo-holder {
    max-width: 340px;
  }
}
@media screen and (max-width: 800px) {
  #todo-controls {
    width: 95%;
  }
  .todo-button {
    font-size: 12pt;
    width: 110px;
  }
}
@media screen and (max-width: 500px) {
  .todo-div {
    width: 280px;
  }
  .first-todo {
    padding: 14px;
    padding-right: 7px;
  }
  .middle-todo {
    padding: 14px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .last-todo {
    padding: 14px;
    padding-left: 7px;
  }
  .only-todo {
    padding: 14px;
  }
  #todo-holder {
    --top-dist: 30%;
    width: 308px;
  }
  .time-h1{
    font-size: 12pt;
  }
  .create-todo-div {
    width: 300px;
    height: 400px;
    box-sizing: border-box;
  }
  #todo-controls {
    --bottom-dist: 0%;
    transform:translate(-50%, calc(var(--bottom-dist) * -1));
    top: initial;
    bottom: var(--bottom-dist);
    height: 60px;
  }
  .todo-button {
    font-size: 9pt;
    width: 90px;
  }
  label {
    font-size: 6pt;
    margin-left: -10px;
  }
  #status-div{
    gap: 5px;
  }
  .create-todo-element {
    padding: 5px;
  }
  #empty-message {
    font-size: 12pt;
    padding: 10px;
  }
}