:root {
  --todo-button-bottom-dist: 6%;
  --todo-padding: 20px;
  --todo-width: 300px;
  --todo-height: 50px;
  --light-red: rgb(255, 112, 112);
  --green: rgb(0, 212, 53);
  --light-green: rgb(81, 255, 125);
  --light-blue: rgb(233, 255, 254);
  --blue: rgb(0, 221, 255);
  --dark-blue: rgb(0, 55, 63);
  --grey: rgb(104, 104, 104);
  --light-grey: rgb(191, 191, 191);
  --lighter-grey: rgb(235, 235, 235);
  --dark-grey: rgb(32, 32, 32);
  --red: rgb(207, 0, 0);
  --yellow: rgb(255, 223, 107);
}
body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main-title {
  color: rgb(32, 32, 32);
  font-size: 30pt;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: var(--blue);
  width: fit-content;
  position: relative;
  margin: auto;
  margin-top: 20px;
}
#main {
  background-color: var(--light-blue);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#wrapper {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
}
#displayBG {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.75);
}
#todo-holder {
  --top-dist: 50%;
  width: auto;
  height: fit-content;
  max-height: calc((var(--todo-height) * 6) + (var(--todo-padding) * 7));
  padding: var(--todo-padding);
  gap: var(--todo-padding);
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: absolute;
  transform: translate(-50%, calc(var(--top-dist) * -1));
  left: 50%;
  top: var(--top-dist);
  background-color: var(--dark-grey);
  border-radius: 10px;
}
#todo-holder::-webkit-scrollbar {
  display: none;
}
.todo-wrapper {
  cursor: pointer;
  box-sizing: border-box;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todo-div {
  flex: none;
  width: var(--todo-width);
  height: var(--todo-height);
  border-radius: 30px;
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}
#add-todo {
  font-size: 25pt;
  font-weight: bolder;
  cursor: pointer;
}
.normal-todo{
  background-color: var(--blue);
  box-shadow: 0px 0px 5px var(--blue);
}
.soon-todo {
  background-color: var(--yellow);
  box-shadow: 0px 0px 5px var(--yellow);
}
.passed-todo {
  background-color: var(--light-red);
  box-shadow: 0px 0px 5px var(--light-red);
}
.complete-todo {
  background-color: var(--light-green);
  box-shadow: 0px 0px 5px var(--light-green);
}
.create-todo-div {
  z-index: 7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  margin: auto;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: solid black 5px;
  padding-bottom: 20px;
  transition: background-color 1s;
}
#deadline-wrapper {
  width: 100%;
}
.remove-x{
  color: black;
  font-size: 14pt;
  font-weight: bold;
  position: relative;
  bottom: 3px;
  left: .5px;
}
.remove-circle {
  cursor: pointer;
  border: solid black 2px;
  width: 20px;
  height: 20px;
  background-color: var(--red);
  border-radius: 50%;
  position: absolute;
  right: 10px;
}
#description-remove-circle {
  margin-top: 10px;
}
#deadline-remove-circle{
  margin-top: -10px;
}
.create-todo-element-holder {
  width: 100%;
}
.create-todo-element {
  text-align: center;
  background-color: var(--lighter-grey);
  width: 90%;
  border-radius: 5px;
  box-sizing: border-box;
  border: solid black 2px;
  flex: none;
  color: black;
  padding: 10px;
}
#create-todo-title {
  padding-top: 5px;
}
#title {
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-left-style: hidden;
  background-color: rgba(0,0,0,0);
  color: black;
  font-size: 20pt;
}
#button-holder {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.todo-button {
  position: relative;
  flex: none;
  box-sizing: border-box;
  border-radius: 5px;
  color: black;
  font-size: 15pt;
  cursor: pointer;
  height: 40px;
  border: solid black 2px;
  text-align: center;
  background-color: var(--lighter-grey);
  width: 90%;
}
#confirm-button {
  color: white;
  background-color: var(--green);
  width: 100px;
}
#delete-button {
  color: white;
  background-color: var(--red);
  width: 100px;
}
#date-time {
  color: black;
  width: 90%;
}
.todo-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: none;
  margin: 2px;
}
.todo-deadline-string {
  font-size: 12pt;
  color: black;
}
.todo-checkmark{
  position: absolute;
  right: 31px;
  margin-bottom: 15px;
  font-size: 20pt;
  font-weight: bold;
}
.todo-square {
  position: absolute;
  right: 35px;
  font-size: 15pt;
  font-weight: bold;
}
.todo-delete {
  position: absolute;
  left: 30px;
  font-size: 16pt;
  font-weight: bold;
}
.todo-header {
  color: var(--dark-grey);
  padding: 20px;
  padding-bottom: 5px;
  font-size: 15pt;
  margin: auto;
}
label {
  margin-left: -20px;
  font-size: 10pt;
}
#status-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.status-element{
  flex: none;
}
.todo-description-div {
  color: black;
  font-size: 12pt;
  width: 90%;
  height: 47px;
  background-color: var(--light-grey);
  box-sizing: border-box;
  position: relative;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
.todo-description {
  line-height: 20px;
}
#description {
  resize: none;
  width: 90%;
  height: 75px;
  margin-top: 20px;
}
#time-div {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 90%;
  height: fit-content;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 10px;
}
.time-h1 {
  flex: none;
  font-size: 25pt;
}
@media screen and (max-width: 1400px) {
  #todo-holder {
    max-width: 980px;
  }
}
@media screen and (max-width: 1100px) {
  #todo-holder {
    max-width: 660px;
  }
}
@media screen and (max-width: 755px) {
  #todo-holder {
    max-width: 340px;
  }
  .time-h1{
    font-size: 12pt;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --todo-width: 280px;
  }
  .first-todo {
    padding: 14px;
    padding-right: 7px;
  }
  .middle-todo {
    padding: 14px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .last-todo {
    padding: 14px;
    padding-left: 7px;
  }
  .only-todo {
    padding: 14px;
  }
  #todo-holder {
    width: 308px;
  }
  .create-todo-div {
    width: 310px;
    box-sizing: border-box;
  }
  #todo-controls {
    --bottom-dist: 6%;
    height: 60px;
  }
  .todo-button {
    font-size: 9pt;
  }
  label {
    font-size: 6pt;
    margin-left: -10px;
  }
  #status-div{
    gap: 5px;
  }
  #empty-message {
    font-size: 12pt;
    padding: 10px;
  }
  .remove-circle {
    right: 5px;
  }
  #description-remove-circle {
    margin-top: 10px;
  }
  #deadline-remove-circle {
    margin-top: -10px;
  }
}